/* Header Styles */
.header-section {
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section .container-fluid {
  text-align: center;
  margin-top: 10px;
}

.header-section ul {
  list-style: none;
  padding: 0;
}

.header-section li {
  margin-bottom: 10px;
}

/* Responsive Header Styles */
@media (max-width: 768px) {
  .header-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-section .container-fluid {
    text-align: center;
    margin-top: 10px;
  }

  .header-section ul {
    list-style: none;
    padding: 0;
  }

  .header-section li {
    margin-bottom: 10px;
  }
}

.indian-flag {
  width: 20px;
  margin-right: 5px;
}

/* Modal Styles */

.modal-background {
  position: fixed;
  top: 0;
  left: 10rem;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
