/* Add your existing CSS styles here */
.header-section-second {
  background-color: #f3c231;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.badge {
  left: 75%;
}

.sub-text {
  margin-top: 3px;
  margin-left: 100px;
  font-size: 14px;
}

.search-container {
  float: right;
}

input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 0%;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
    margin-top: 10px;
  }

  a,
  input[type="text"],
  .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  input[type="text"] {
    border: 1px solid #ccc;
  }
}

@media (max-width: 768px) {
  .header-section-second ul {
    flex-direction: column;
    /* Stack items vertically */
    margin-top: 10px;
  }
}

.no-border-radius {
  border-radius: 0 !important;
  /* Use !important to ensure it takes precedence */
}

.phone-number {
  position: relative;
  font-size: 14px;
  line-height: 0;
  font-weight: 500;
  vertical-align: baseline;
  border: 0;
  bottom: 0;
}

.call-us {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.fa-headphones {
  font-size: 40px;
}

.infoLinks {
  font-size: 25px;
  margin-top: 10px;
}
