/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Reset default styles and set the base font-family */
* {
  margin: 0;
  padding: 0;
}

.container-product {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

/* .cardImage {
  width: 90%;
  margin: 10%;
} */
.cardImage .card-img-top {
  border-radius: 10px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  background-color: #fff; /* Add white background color */
}

.card-one {
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border);
  padding-bottom: 10px;
  padding-top: 15px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#timer {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  margin-bottom: 20px;
}
